<!doctype html>
<html lang="lang">
  <head>
    <title>TEST-WORLD HOSPITAL | 预约挂号</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/reservation.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
  </head>
  <body>
    <!-- 导航栏 -->
    <header class="navbar navbar-expand-lg navbar-light flex-column align-items-start flex-lg-row iheadbar py-3">
      <!-- 医院图标 -->
      <a class="navbar-brand" href="#">
        <img src="images/hospital_icon.png" alt="医院图标">
      </a>
      <!-- 导航栏内容 -->
      <div class="navbar-content flex-row justify-content-between align-items-center mt-lg-2">
        <!-- 医院名称 -->
        <a class="ititle" style="color: #2c608a;" href="#">TEST-WORLD HOSPITAL</a>
        <!-- 折叠导航栏 -->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar"
          aria-expanded="false" aria-label="Toggle navigation" style="height: 36px;">
          ≡
        </button>
        </div>
        <!-- 菜单 -->
        <div class="collapse navbar-collapse imenu" id="top-navbar">
          <ul class="navbar-nav mt-1 ml-auto">
            <li class="nav-item active iunderline">
              <a class="nav-link mr-3" style="color: #2c608a;" href="index.html">首页</a>
            </li>
            <li class="nav-item iunderline">
              <a class="nav-link iactive mr-3" style="color: #2c608a;" href="#">预约挂号</a>
            </li>
            <li class="nav-item iunderline">
              <a class="nav-link mr-3" style="color: #2c608a;" href="department.html">科室导航</a>
            </li>
            <li class="nav-item iunderline">
              <a class="nav-link mr-3" style="color: #2c608a;" href="queryReport.html">报告查询</a>
            </li>
            <!-- 下拉展开的二级菜单 -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mr-3" style="color: #2c608a;" href="#" id="navbar-about" data-toggle="dropdown" aria-expanded="false">
                更多
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-about">
                <a class="dropdown-item" href="#">党群建设</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">人才招聘</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">意见反馈</a>
              </div>
            </li>
          </ul>
      </div>
    </header>
    <!-- 疫情防控就诊须知弹窗 -->
    <div class="modal fade" id="covid19-notice" tabindex="-1" aria-labelledby="covid19-notice-title" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="covid19-notice-title">新冠肺炎疫情防控就诊须知</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body covid19-notice-content">
            <p>尊敬的市民朋友：</p>
            <p>您好!</p>
            <p>根据湖南省应对新冠肺炎疫情联防联控机制发布的疫情防控要求，本院为进一步加强新冠疫情防控，现将就诊须知公告如下：</p>
            <p><strong>一、 门诊就医</strong></p>
            <p>1. 进入门诊时，恳请您全程佩戴好口罩，配合工作人员进行流调、接受体温检测，出示“两码”——场所码、行程码给工作人员查看，主动告知医院工作人员近期旅居史、疫区人员接触史等流行病学信息，如有隐瞒可能会导致疫情播散，您将承担相应法律责任。在入口闸机处需扫健康码或身份证进入门诊。在候诊、缴费等待时自觉保持“一米线”间距。</p>
            <p>2. 所有外省来院人员需持有省内<span style="color: #e67777;"> 48小时 </span>核酸阴性证明。有流行病学史或新冠相关症状的患者请到诊疗中心发热门诊排查。</p>
            <p><strong> 二、 核酸检测</strong></p>
            <p>来院做核酸检测的人员需持身份证原件、佩戴口罩、检测体温、扫场所码、出示行程码，配合医护人员完成流行病学史询问后，根据工作人员指引，到相应采样点采样。</p>
            <div class="d-flex justify-content-between">
              <div style="font-size: 0.9em;"><strong>感谢您的支持与配合！</strong></div>
              <div style="font-size: 0.9em;"><strong>2022年9月22日</strong></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">我已知悉</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 顶部提示语 -->
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      TEST-WORLD HOSPITAL 提醒您，请通过正规渠道挂号！
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- 主页内容 -->
    <div class="reservation-page d-flex flex-column mt-5" id="reservation">
      <div class="row justify-content-center">
        
        <!-- 搜索栏 & 一类科室 -->
        <div class="order-md-1 col-10 col-md-4">

          <!-- 搜索栏 & 搜索按钮 -->
          <div class="row doc-search">
            <input type="text" class="form-control text-center order-md-1 col-md-8 mb-2 mb-md-0 mr-md-1" placeholder="请输入科室或医生名称">
            <button type="submit" class="btn btn-success mx-auto order-md-2 col-9 col-md-3 mx-0" v-on:click="searchDoc">搜索</button>
          </div>

          <!-- 左下方列表 -->
          <div id="docInfo-list" class="mt-4">
            <!-- 一类科室列表 -->
            <ul class="list-group">
              <div v-for="(department_info,index) in departmentInfo">
                <button type="button" class="list-group-item list-group-item-action" @click="clickWho($event)"
                        data-toggle="collapse" :data-target="'#depart_' + index" aria-expanded="false" :aria-controls="currentShowID">
                  <div class="d-flex justify-content-between align-items-center" :getClickedId="department_info.id">
                    <span class="iactive">{{ department_info.name }}</span>
                    <span class="badge badge-info badge-pill">{{ department_info.subAmount }}</span>
                  </div>
                </button>
                <!-- 二类科室列表 -->
                <ul class="collapse list-group list-group-flush" :id="department_info.id">
                  <li class="list-group-item " v-for="subDepartment in department_info.detail" :getClickedId="subDepartment.id" @click="chooseWhichDepartment($event)">
                    {{ subDepartment.name }}
                  </li>
                </ul>
              </div>
            </ul>
          </div>

        </div>

        <!-- 排班信息 -->
        <div class="order-md-2 col-9 col-md-7 ml-md-1">
          <div class="card mt-4 mt-md-0 mb-4">
            <div class="card-body alert-success" style="font-size: 1.1em;">
              <!-- 请使用左侧 <strong>搜索框</strong> 或 <strong>导航栏</strong> 选择就诊科室！ -->
              <strong>选择科室 >> {{currentSubDepartment.name}}</strong>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4" v-for="doctor in currentSubDepartment.detail">
              <div class="card" :getClickedId="doctor.id">
                <div class="card-body">
                  <h5 class="card-title">{{doctor.name}}</h5>
                  <hr>
                  <p class="card-text">这是一些关于此医生的介绍 这是一些关于此医生的介绍 这是一些关于此医生的介绍 这是一些关于此医生的介绍</p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/reservation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
</html>