.reservation-page {
    height: 100%;
    width: 100%;
}
/* .flip-list-move {
    transition: transform 1s;
} */
.doc-search input {
    width: 75%;
    margin: 0 auto;
}
/* 左侧科室导航栏二级栏目鼠标悬停效果 */
.subDepartmentListItem:hover{
    cursor:pointer;
    background-color: aliceblue;
}
/* 左侧科室导航栏二级栏目鼠标点击效果 */
.subItemActive {
    background-color: #d1ecf1 !important;    /* !important，作用是提高指定样式规则的应用优先权（优先级） */
}
/* 设置鼠标覆盖显示手势图标 */
.cursor-pointer:hover {
    cursor:pointer;
}
/* 禁止点击 */
.disableClick {
    pointer-events: none;
}
.setBlueBgAndBorderColor {
    background-color: #528eb5 !important;
    border-color: #528eb5 !important;
}
.setGreenBgAndBorderColor {
    background-color: #55a5aa !important;
    border-color: #55a5aa !important;
}
.setYellowBgAndBorderColor {
    background-color: #e5ca8f !important;
    border-color: #e5ca8f !important;
}
.doctorPhoto {
    width: 120px;
}
.selectedScheduleDate {
	background-color:#8ACBAD;
	color:#fff !important;
	border-radius: 23px;
}
.dayItem,
.infoItem {
	color:#838385;
}
.scheduleFormHeader {
	background-color: #f8f8f8;
}