html,body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}
/* 隐藏滚动条 */
html::-webkit-scrollbar {
    display: none;
}
/* 主页导航栏文字样式 */
.iheadbar {
    font-size: 1.2em;
}
/* 主页导航栏机构名称样式 */
.ititle {
    font-size: 1.3em;
    font-weight: 900;
}
/* 设置文本加粗 */
.iactive {
    font-weight: 900;
}
/* 超小屏幕大字号 */
.itext-lg {
    font-size: 1.5rem;
}
/* 超小屏幕小字号 */
.itext-sm {
    font-size: 0.6rem;
}
/* rem 相对于 html 大小响应式变化 */
@media (min-width: 320px) {
    .itext-lg {
        font-size: 2rem;
    }
    .itext-sm {
        font-size: 0.7rem;
    }
}
@media (min-width: 375px) {
    .itext-lg {
        font-size: 2.5rem;
    }
    .itext-sm {
        font-size: 0.8rem;
    }
}
@media (min-width: 768px) {
    .itext-lg {
        font-size: 4rem;
    }
    .itext-sm {
        font-size: 1rem;
    }
}
@media (min-width: 1024px) {
    .itext-lg {
        font-size: 5rem;
    }
    .itext-sm {
        font-size: 1.1rem;
    }
}
@media (min-width: 1440px) {
    .itext-lg {
        font-size: 6rem;
    }
    .itext-sm {
        font-size: 1.2rem;
    }
}
/* 主页stage样式 */
.homepage {
    height: 100%;
    width: 100%;
    background: url(../images/bg_pic2.png) round;
@media (max-width: 633px) {
    .homepage {
        height: 100%;
        width: 100%;
        background: url(../images/bg_pic2_sm.png);
    }
}
/* 主页欢迎词样式 */
.iwelcome {
    color: white;
}
/* 主页欢迎词设置下划线 */
.iwelcome h1:after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: relative;
    top: 6px;
    background: white;
    margin: auto;
}
/* 主页搜索框样式 */
/* .isearch input {
    width: 75%;
    margin: 0 auto;
}
.isearch button {
    width: 200px;
} */
/* 主页跳转按钮样式 */
.igo button {
    width: 200px;
}
/* 导航栏下划线样式 */
#top-navbar .iunderline :after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    top: 6px;
    background: #2c608a;
    margin: auto;
}
/* 折叠导航栏 & 机构名称 */
.navbar-content {
    display: flex;
    width: 100%;
}
/* 导航栏菜单 */
.imenu {
    width: 100%;
}
/* 导航栏机构图标 */
.navbar-brand {
    width: 8%;
}
